
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1451866961142-cd9f8c737e8b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; /* Faz a imagem preencher o fundo proporcionalmente */
    background-repeat: no-repeat; /* Remove repetições da imagem */
    background-position: center; /* Centraliza a imagem */
    overflow: hidden; /* Remove qualquer scroll desnecessário */
    backdrop-filter: blur(5px);
}

  h1 {
    text-transform: uppercase;
  }
  
  .home {
    text-align: center;
    background-color: #f0f0f0be; 
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  }
  
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .footer {    
    position: fixed;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #d5d9df;
    font-size: 16px;
    bottom: 0;
    width: 97.9%;
    text-align: center;
    background-color: rgba(7, 43, 75, 0.548); 
    padding: 20px;
    font-size: 14px;
}

.botao-home {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .botao-home:hover {
    background-color: #010c16;
}

.bemvindo {
    margin-bottom: 50px;
}