body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(10, 99, 242, 0.762), rgb(0, 0, 0));
  background-size: cover; /* Faz a imagem preencher o fundo proporcionalmente */
  background-repeat: no-repeat; /* Remove repetições da imagem */
  background-position: center; /* Centraliza a imagem */
  overflow: hidden; /* Remove qualquer scroll desnecessário */
  backdrop-filter: blur(5px);
}

  h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #f0f0f0be; 
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    backdrop-filter: blur(5px);
  }

  .container {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
  }
  
  td {
    width: 20px;
    height: 15px;
    border: 1px solid rgb(184, 184, 184);
    text-align: center;
  }
  
  .building {
    background-image: url(../assets/casa.png);
    background-size: 22px;
  }
  
  .street {
    background-color: rgb(255, 255, 255);
  }
  
  .traffic-jam {
    background-image: url(../assets/carro.png);
    background-size: 22px;
  }

  .footer {    
    position: fixed;
    font-weight: bold;
    bottom: 0;
    width: 97.9%;
    text-align: center;
    background-color: rgba(12, 120, 222, 0.548); 
    padding: 20px;
    font-size: 14px;
}

.botao-estilizado {
    text-decoration: none;
    background-color: #677a8f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

.botao-estilizado:hover {
    background-color: #010c16;
}

.botoes {
    display: flex;
    justify-content: space-between; /* Botões espaçados entre si */
    align-items: center;
    margin: 20px auto;
    width: 30%; /* Define a largura para alinhar melhor os botões */
  }

  .botao-principal {
    text-decoration: none;
    background-color: #1480fb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .botao-principal:hover {
    background-color: #031f38;
}

.footer {    
  position: fixed;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #d5d9df;
  font-size: 16px;
  bottom: 0;
  width: 97.9%;
  text-align: center;
  background-color: rgba(7, 43, 75, 0.548); 
  padding: 20px;
  font-size: 14px;
}