body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1451866961142-cd9f8c737e8b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  backdrop-filter: blur(15px);
}

  h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffffbe; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  }

  .container {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
  }
  
  td {
    width: 20px;
    height: 15px;
    border: 1px solid rgb(184, 184, 184);
    text-align: center;
    position: relative; /* Permite que a imagem seja posicionada dentro da célula */
    vertical-align: middle;
  }
  
  .construcao {
    background-image: url(../assets/casa.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 17px;
  }
  
  .ruas {
    background-color: rgb(255, 255, 255);
  }
  
  .engarrafamento {
    background-image: url(../assets/carro.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 17px;
  }

  .footer {    
    position: fixed;
    font-weight: bold;
    bottom: 0;
    width: 97.9%;
    text-align: center;
    background-color: rgba(12, 120, 222, 0.548); 
    padding: 20px;
    font-size: 14px;
}

.botao-estilizado {
    text-decoration: none;
    background-color: #677a8f;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

.botao-estilizado:hover {
    background-color: #010c16;
}

.botoes {
    align-items: center;
    margin: 20px auto;
  }

  .botao-principal {
    text-decoration: none;
    background-color: #1480fb;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .botao-principal:hover {
    background-color: #1b3f5f;
}

.botao-mudaCidade {
  text-decoration: none;
  background-color: #894622df;
  color: white;
  border: none;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.botao-mudaCidade:hover {
  background-color: #3c2018;
}

.footer {    
  position: fixed;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #d5d9df;
  font-size: 16px;
  bottom: 0;
  width: 97.9%;
  text-align: center;
  background-color: rgba(7, 43, 75, 0.548); 
  padding: 20px;
  font-size: 14px;
}

img {
  position: absolute; /* Permite centralizar dentro da célula */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza a imagem */
  pointer-events: none; /* Garante que a imagem não interfira nos cliques */
  z-index: 10; /* Certifica-se de que a imagem está sobre o conteúdo da célula */
  width: 25px; /* Ajuste o tamanho da imagem para caber na célula */
  height: 25px;
}

#tituloCidade {
  background-color: #ecececa1; /* Cor de fundo */
  color: rgba(29, 23, 141, 0.79); /* Cor do texto */
  padding: 10px; /* Espaçamento interno */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px; /* Arredonda as bordas */
  width: fit-content; /* Ajusta a largura ao conteúdo */
  margin: 0 auto; /* Centraliza o título */
  text-align: center; /* Centraliza o texto */
}